* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	max-width: 100%;
	margin-bottom: 5%;

	.container {
		width: 1300px;
		margin: 0 auto;
		h1 {
			padding: 2% 0;
			font-size: 35px;
		}
		.wrapp_kitchen {
			display: flex;
			.fasadTop {
				margin-top: 2%;
				h3 {
					margin-bottom: 3%;
					font-size: 28px;
				}
				.fasadTop-choise {
					// display: flex;
					justify-content: start;
					align-items: center;
					border: 2px solid #000;

					.fasadTop-color {
						padding-top: 5px;
						img {
							cursor: pointer;
							width: 70%;
						}
					}
				}
			}
			.fasadDown {
				margin-top: 2%;
				width: 141px;
				h3 {
					font-size: 28px;
					margin-bottom: 2%;
				}
				.fasadDown-choise {
					// display: flex;
					justify-content: start;
					align-items: center;
					border: 2px solid #000;
					.fasadDown-color {
						padding-top: 5px;
						img {
							cursor: pointer;
							width: 70%;
						}
					}
				}
			}
		}

		.fasad {
			width: 80%;
			height: 713px;
			background: url(/img/fon.png) center no-repeat;
			position: relative;

			#out2 {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
			#out3 {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
		.wrapper {
			max-width: 850px;
			display: flex;
			margin: 0 auto;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;

			.stppanel {
				margin-top: 3%;
				h3 {
					margin-bottom: 2%;
					font-size: 28px;
				}
				.stppanel-choise {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					border: 2px solid #000;
					.stppanel-color {
						margin: 20px;
						// padding-top: 5px;
						&:last-child {
							padding-right: 15px;
						}
						img {
							cursor: pointer;
							width: 150%;
						}
					}
				}
			}
		}
	}
}
